* {
	box-sizing: border-box;
  }
  
  :root {
	--default-green: #1db954;
	--light-green: #1ed760;
  }
  -- all the documents * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  body {
	font-family: 'Roboto', sans-serif;
  }
  
  /* Utility Classes */
  .btn-primary {
	background: var(--default-green);
	color: white;
	text-transform: uppercase;
	padding: 15px 60px;
	border: none;
	border-radius: 30px;
	letter-spacing: 1px;
	font-weight: bold;
	transition: all 300ms ease;
  }
  
  .btn-primary:hover {
	background: var(--light-green);
	cursor: pointer;
  }
  
  .logo {
	height: 40px;
	width: auto;
  }
  
  /* menu */
  #menu {
	display: flex;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	justify-content: center;
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  #menu .menu-container {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
  }
  
  #menu .menu-container ul {
	display: flex;
	list-style: none;
	font-weight: bold;
  }
  
  #menu .menu-container ul li {
	padding: 0 20px;
	transition: all 300ms ease;
  }
  
  #menu .menu-container ul li:hover {
	color: #1db954;
	cursor: pointer;
  }
  
  #menu .menu-container ul li:nth-child(3) {
	border-right: 1px solid white;
  }
  
  /* content */
  #content {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background: url('/img/showcase.webp') center center/cover;
	background-color: rgba(0, 0, 0, 0.4);
	background-blend-mode: color;
  }
  
  #content .content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  #content .content-container h2 {
	font-size: 5rem;
  }
  
  #content .content-container p {
	margin: 15px 0;
	font-size: 1.1rem;
  }
  
  /* Footer */
  #footer {
	background: black;
	color: white;
	padding: 80px 0;
  }
  
  #footer .footer-content {
	display: flex;
	width: 60%;
	margin: auto;
	justify-content: space-between;
  }
  
  #footer .footer-content .footer-menu {
	margin: 0 60px;
	list-style: none;
  }
  
  #footer .footer-content .footer-menu .footer-menu-item {
	margin: 25px 0;
	transition: all 300ms ease;
  }
  
  #footer .footer-content .footer-menu .footer-menu-item:hover {
	color: var(--default-green);
	cursor: pointer;
  }
  
  #footer .footer-content .footer-menu p {
	font-weight: bold;
	text-transform: uppercase;
	color: #919496;
	font-size: 0.8rem;
  }
  
  /* Footer Socials */
  .socials {
	display: flex;
  }
  
  .socials i {
	margin: 0 20px;
	font-size: 1.7rem;
	transition: all 300ms ease;
  }
  
  .socials i:hover {
	color: var(--default-green);
	cursor: pointer;
  }
  
  /* Footer Info */
  .footer-info {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 60%;
	margin: auto;
	font-weight: bold;
	color: #919496;
	font-size: 0.75rem;
	padding-top: 50px;
  }
  
  .footer-info .footer-info-items {
	display: flex;
	list-style: none;
  }
  
  .footer-info .footer-info-items .footer-info-item {
	margin: 0 10px;
	transition: all 300ms ease;
  }
  
  .footer-info .footer-info-items .footer-info-item:hover {
	color: var(--default-green);
	cursor: pointer;
  }
  
  .footer-info .rights .country {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 10px;
  }
  
  .footer-info .rights .country p {
	transition: all 300ms ease;
  }
  
  .footer-info .rights .country p:hover {
	color: var(--default-green);
	cursor: pointer;
  }
  
  .footer-info .rights .country .brazil-flag {
	height: 20px;
	width: auto;
	display: inline-block;
	margin-left: 10px;
  }
  
  .page-content {
	padding-top: 8%;
	width: 100%;
	display: flex;
  }
  
  .menu-lateral {
	width: 18rem;
	height: 150vh;
	background-color: black;
	padding-top: 1%;
  }
  
  .profile-photo img {
	width: 6.4rem;
	height: 6.4rem;
	border-radius: 50%;
	display: center;
  }
  .menu-itens {
	text-decoration: none;
	padding: 0;
	font-family: Circular, Helvetica, Arial, sans-serif !important;
	font-size: 16px;
	line-height: 1.5;
	color: #ffffff;
	padding: 15px 15px 15px 30px;
	border: none;
	border-radius: 0px;
	letter-spacing: 0px;
	text-transform: none;
	fill: var(--white);
	color: var(--gray-95);
  }
  .account-settings {
	width: 65rem;
	height: 150vh;
	background-color: #fff;
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
	display: block;
	padding: 0px 0px 0.67rem 2rem;
  }
  
  h1,
  h5 {
	display: block;
	font-size: 2em;
	margin-block-start: 0.67em;
	margin-block-end: 0.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	font-weight: 900;
	letter-spacing: -1px;
  }
  .account-settings h1 {
	font-size: 35px;
  }
  .account-settings h5 {
	font-size: 20px;
  }
  
  th,
  td {
	color: #b3b3b3;
	padding: 1em 1em 1em 0px;
	white-space: nowrap;
	display: table-cell;
	vertical-align: inherit;
  }
  
  .user-information {
	color: black;
	font-weight: 520;
	text-align: left;
	padding-left: 18rem;
  }
  table {
	border-collapse: separate;
	text-indent: initial;
	border-spacing: 2px;
  }
  
  .button-edit {
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
	background-color: transparent;
	border-radius: 500px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	touch-action: manipulation;
	transition-duration: 33ms;
	transition-property: background-color, border-color, color, box-shadow, filter,
	  transform;
	user-select: none;
	vertical-align: middle;
	transform: translate3d(0px, 0px, 0px);
	padding-block: 13px;
	padding-inline: 31px;
	position: relative;
	border: 1px solid #878787;
	color: #000000;
  }
  
  .button-edit::after {
	display: block;
	position: absolute;
	pointer-events: none;
	box-sizing: border-box;
	inline-size: calc(100% + 12px);
	block-size: calc(100% + 12px);
	top: -6px;
	left: -6px;
	border-radius: 500px;
	border: 3px solid transparent;
  }
  
  .free-plan h1 {
	padding: 0px 0px 0.6rem 2rem;
	display: flex;
	width: 60rem;
	height: 10rem;
	align-items: center;
	border: none;
	color: white;
	background: linear-gradient(
	  -180deg,
	  rgb(182, 43, 190) 0%,
	  rgb(150, 34, 185) 100%
	);
  }
  .free-plan span {
	padding: 0px 0px 0px 2rem;
	display: flex;
	width: 60rem;
	height: 5rem;
	background-color: white;
	border: rgb(182, 43, 190) 0%, rgb(150, 34, 185) 100%;
	border-style: ridge;
  }