* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
html, body{height: 100%;}
:root {
  --default-green: #1db954;
  --light-green: #1ed760;
}
-- all the documents * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}

/* Utility Classes */
.btn-primary {
  background: var(--default-green);
  color: white;
  text-transform: uppercase;
  padding: 15px 60px;
  border: none;
  border-radius: 30px;
  letter-spacing: 1px;
  font-weight: bold;
  transition: all 300ms ease;
}

.btn-primary:hover {
  background: var(--light-green);
  cursor: pointer;
}

.logo {
  height: 40px;
  width: auto;
}

/*            HOME            */
/* menu */
#menu {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

#menu .menu-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

#menu .menu-container ul {
  display: flex;
  list-style: none;
  font-weight: bold;
}

#menu .menu-container ul li {
  padding: 0 20px;
  transition: all 300ms ease;
}

#menu .menu-container ul li:hover {
  color: #1db954;
  cursor: pointer;
}

#menu .menu-container ul li:nth-child(3) {
  border-right: 1px solid white;
}

/* content */
#content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: url('/img/showcase.webp') center center/cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: color;
}

#content .content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content .content-container h2 {
  font-size: 5rem;
}

#content .content-container p {
  margin: 15px 0;
  font-size: 1.1rem;
}

/* Footer */
#footer {
  background: black;
  color: white;
  padding: 80px 0;
}

#footer .footer-content {
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: space-between;
}

#footer .footer-content .footer-menu {
  margin: 0 60px;
  list-style: none;
}

#footer .footer-content .footer-menu .footer-menu-item {
  margin: 25px 0;
  transition: all 300ms ease;
}

#footer .footer-content .footer-menu .footer-menu-item:hover {
  color: var(--default-green);
  cursor: pointer;
}

#footer .footer-content .footer-menu p {
  font-weight: bold;
  text-transform: uppercase;
  color: #919496;
  font-size: 0.8rem;
}
.page-content{
  padding-left: 5rem;
}


/* Footer Socials */
.socials {
  display: flex;
}

.socials i {
  margin: 0 20px;
  font-size: 1.7rem;
  transition: all 300ms ease;
}

.socials i:hover {
  color: var(--default-green);
  cursor: pointer;
}

/* Footer Info */
.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 60%;
  margin: auto;
  font-weight: bold;
  color: #919496;
  font-size: 0.75rem;
  padding-top: 50px;
}

.footer-info .footer-info-items {
  display: flex;
  list-style: none;
}

.footer-info .footer-info-items .footer-info-item {
  margin: 0 10px;
  transition: all 300ms ease;
}

.footer-info .footer-info-items .footer-info-item:hover {
  color: var(--default-green);
  cursor: pointer;
}

.footer-info .rights .country {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.footer-info .rights .country p {
  transition: all 300ms ease;
}

.footer-info .rights .country p:hover {
  color: var(--default-green);
  cursor: pointer;
}

.footer-info .rights .country .brazil-flag {
  height: 20px;
  width: auto;
  display: inline-block;
  margin-left: 10px;
}


/*            ACCOUNT           */

.page-content {
  padding-top: 8%;
  width: 100%;
  display: flex;
}

.menu-lateral {
  width: 18rem;
  height: 80rem;
  background-color: black;
  padding-top: 1%;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  display: block;
  position: relative;
  padding: 15px 15px 15px 30px;
  border: none;
  border-radius: 0px;
  letter-spacing: 0px;
  text-transform: none;
  fill: white;

}

.profile-photo img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;

}
.menu-itens {
  text-decoration: none;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  padding: 15px 15px 15px 30px;
  border: none;
  border-radius: 0px;
  letter-spacing: 0px;
  text-transform: none;
  fill: white;
}

#overview, #profile, #device_password, #notifications, #privacy, #recover_playlists, #receipts, #apps, #redeem{
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(240, 17, 17, 0.05);
  margin: 0px;
  padding: 0px;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  text-align:start;
  align-items: flex-start;
}

#overview a{
text-decoration: none;
  display: block;
  position: relative;
  padding: 15px 15px 15px 30px;
  border: none;
  border-radius: 0px;
  letter-spacing: 0px;
  text-transform: none;
  fill: white;
  color: #ffffff;
}
#overview a:hover{
  color: rgb(145, 148, 150);
}

#profile a:hover, #device_password a:hover, #notifications a:hover, #privacy a:hover, #recover_playlists a:hover, #receipts a:hover, #apps a:hover, #redeem a:hover{
  border-bottom: 1px solid #1db954;
  color: whitesmoke;
  letter-spacing: 0.0025rem;
}

#profile a, #device_password a, #notifications a, #privacy a, #recover_playlists a, #receipts a, #apps a, #redeem a{
  text-decoration: none;
  display: block;
  position: relative;
  fill: rgb(193, 195, 198);
  padding: 15px 15px 15px 30px;
  color: rgb(145, 148, 150);
  border: none;
  border-radius: 0px;
  letter-spacing: 0px;
  text-transform: none;
}
.account-settings {
  width: 150vh;
  height: 80rem;
  background-color: #fff;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  display: block;
  padding: 0px 0px 0.67rem 2rem;
}

h1,
h5 {
  box-sizing: border-box;
  font-family: Helvetica,Arial,sans-serif;
  -webkit-tap-highlight-color: transparent;
  display: block;
  padding: 0px 0px 0.67em;
  font-weight: 900;
  letter-spacing: -1px;
  line-height: 40px;
  color: inherit;
}
.account-settings h1 {
  padding-top: 2rem;
  font-size: 3.5rem;
}
.account-settings h5 {
  font-size: 1.5rem;
}

th,
td {
  color: #b3b3b3;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-right: 10em;
  white-space: nowrap;
  display: table-cell;
  vertical-align: inherit;
  border-bottom: 1px solid #b3b3b3;;
}

.user-information {
  color: black;
  font-weight: 520;
  text-align: left;
  padding-left: 18rem;
  align-items: flex-start;
}
table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}

.button-edit {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  background-color: transparent;
  border-radius: 500px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  touch-action: manipulation;
  transition-duration: 33ms;
  transition-property: background-color, border-color, color, box-shadow, filter,
    transform;
  user-select: none;
  vertical-align: middle;
  transform: translated(0px, 0px, 0px);
  padding-block: 13px;
  padding-inline: 31px;
  position: relative;
  border: 1px solid #878787;
  color: #000000;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button-edit:hover, .button-premium:hover{
  letter-spacing: 0.025rem;
  background-color: #000000;
  color: white;
}
.free-plan{
  width: 60rem;
  height: 15rem;
}

.free-plan h1 {
  padding: 0px 0px 0.6rem 2rem;
  width: 60rem;
  height: 10rem;
  display: flex;
  align-items: center;
  border: none;
  color: white;
  background: linear-gradient(
    -180deg,
    rgb(182, 43, 190) 0%,
    rgb(150, 34, 185) 100%
  );
}
.free-plan span, .free {
  padding-top: 1rem;
  padding-left: 2rem;
  width: 60rem;
  height: 3rem;
  display: flex;
  background-color: white;
}
.button-premium {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  background-color: transparent;
  border-radius: 500px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  touch-action: manipulation;
  padding-block: 13px;
  padding-inline: 31px;
  border: 1px solid #878787;
  color: #000000;
}
.exit-device {
  margin-top: 3rem;
  padding-top: 1rem;
  display: inline-block;
}
.exit-device span{
  box-sizing: border-box;
  font-family: Helvetica,Arial,sans-serif;
  -webkit-tap-highlight-color: transparent;
  display: block;
  padding: 0.1rem 1rem 0.5rem 0.1rem;
  margin-block: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: inherit;
}
.message-observation{
  background: #f8f8f8;
  border: 1px solid rgb(217, 218, 220);
  border-radius: 4px;
  padding: 14px;
  margin-right: 4rem;
}

/*            LOGIN           */
.logo-preto {
  border-bottom: 1px solid rgb(217, 218, 220);
}

.logo-preto img {
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  width: 15%;
  height: 15%;
  stroke: transparent;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#showcase-login {
  align-items: center;
  text-align: center;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 1rem;
  margin-bottom: 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 900;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#showcase-login p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.btn-facebook:hover,
.btn-apple:hover,
.btn-google:hover,
.btn-telefone:hover,
.btn-login:hover,
.btn-signup:hover, .btn-sign-up:hover {
  border-color: black;
  font-size: 0.9rem;
}

.style-facebook {
  color: rgb(248, 248, 248);
  background-color: rgb(59, 89, 152);
}
.btn-facebook,
.btn-apple,
.btn-google,
.btn-telefone,
.btn-signup {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 500px;
  text-align: center;
  touch-action: manipulation;
  transition-duration: 33ms;
  user-select: none;
  vertical-align: middle;
  transform: translated(0px, 0px, 0px);
  padding: 13px 31px;
  position: relative;
  border: 1px solid #878787;
  letter-spacing: 0.1rem;
  width: 28rem;
  text-transform: uppercase;
  align-items: center;
}
button {
  appearance: auto;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: (black, white);
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  background-color: (rgb(239, 239, 239), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: (rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
.style-facebook{
  margin-top: 1rem;
}
.style-apple {
  color: rgb(248, 248, 248);
  background-color: rgba(0, 0, 0, 0.9);
}
.btn-google,
.btn-telefone {
  color: #464545;
  background-color: transparent;
}

.login h6 {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  padding: 0.4rem 0.2rem 0.4rem 0;
}
.email-address {
  margin-right: 10rem;
  align-items: flex-start;
}


.usePhone{
  text-decoration: underline;
  font-size: 14px;
  padding-top: 8px;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  color: #117a37;
  align-items: flex-start;
  margin-right: 16.5rem;
  cursor: pointer;
}

.sign-in{
  align-items: flex-start;
  margin-right: 18rem;

}
.password-login {
  margin-right: 24rem;
}
.password{
  margin-right: 20.5rem;
}
.username{
  margin-right: 14.5rem;
}
.login {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 900;
  display: block;
}

.login-username:hover, .input-day:hover, .input-month:hover, .input-year:hover {
  box-shadow: inset 0 0 0 1px #000000;
}

.login-username {
  appearance: none;
  background-image: none;
  border: 0px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  width: 28rem;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  border-radius: 4px;
  padding: 14px;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px #878787;
  color: #000000;
  margin-bottom: 0.3rem;
}

input {
  color: (black, white);
  writing-mode: horizontal-tb !important;
  text-shadow: none;
  display: inline-block;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: (rgb(255, 255, 255), rgb(59, 59, 59));
  margin: 0em;
  padding: 0.2rem 0.4rem;
  border-width: 0.2rem;
  border-color: (rgb(118, 118, 118), rgb(133, 133, 133));
  
}

.btn-signup {
  margin-left: auto;
  margin-right: auto;
}

#reset-password {
  font-family: Helvetica, Arial, sans-serif;
  color: inherit;
  align-items: left;
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  margin-top: 1.25rem;
  margin-left: auto;
  text-align: left;
}
#reset-password:hover{
  letter-spacing: 0.0125rem;
  text-decoration: underline;
}

.forgot-password {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 16rem;
}
#reset-password{
  text-decoration: none;
} 
#checkbox {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-top: 1rem;
}

input:checked{
  background-color: #1db954;
}

#footer-login {
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.log-in{
  padding-left: 16rem;
}
.log-in h6{
  box-sizing: border-box;
  display: inline;
  font-family:  Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  margin-top: 0px;
  margin-bottom: 0rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: inherit;

}

.btn-login, .btn-sign-up {
  background-color: #1ed760;
  color: #000000;
  border-radius: 500px;
  width: 12rem;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  letter-spacing: 0.15rem;
  padding: 0.8rem 0.5rem 0.8rem 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  margin-left: 8rem;
}

.border{
  margin-left: 28rem;
  margin-top: 2rem;
  border-top: 1px solid rgb(217, 218, 220);
  width: 32rem;
  height: 0rem;
  align-items: center;
  text-align: center;
}
.btn-signup{
  margin-top: 1.5rem;
  margin-bottom: 1rem; 
  border: 1px solid #878787;
  background-color: transparent;
  color: #878787;
}

.borders{
  flex: 0.3 1 0%;
  align-self: center;
  text-align: center;
  line-height: 1px;
  font-weight: 700;
  font-size: 12px;
  background: rgb(255, 255, 255);
  text-transform: uppercase;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  margin: 5rem;
  margin-bottom: 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: inherit;
}


/*            PLAYER            */
/* Menu lateral - Botoes iniciais */
#sidebar{
  float: left;
  width: 15.5rem;
  padding: 10px 10px;
  height: 100%;
  overflow-y: auto;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden, scroll;
}

#sidebar .sidebar-wraper{
  padding-bottom: 6rem;
}

#sidebar .sidebar-menu{
  margin: 20px 0;
  color: rgb(190,190,190)
}

#sidebar .sidebar-logo img{
  height: 40px;
  max-width: 131px;
  width: 100%;
  margin: 1rem;
}

#sidebar .sidebar-menu a{
  color: rgb(190, 190, 190);
  text-decoration: none;
  display: block;
  padding: 10px 0;
  margin: 0.5rem;
  width: 8rem;
  height: 2rem;
}

#sidebar .sidebar-menu span{
  margin: 0 1rem;

}

#sidebar .sidebar-menu a:hover{
  color: white;
}

/* #sidebar .sidebar-menu a.sidebar-menu-selecionado{
  color: white;
  background-color: rgb(80, 80, 80);
  border-radius: 100px;
} */

/* Menu lateral - Playlist */
#sidebar .sidebar-menu .sidebar-menu-item{
  margin-top: 1.2rem;
  cursor: pointer;
  vertical-align: middle;
}

.sidebar-menu-item span{ 
  font-family: Helvetica,Arial,sans-serif;
  -webkit-tap-highlight-color: transparent;
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 700;
  color: inherit;
}


#sidebar .sidebar-menu p.sidebar-menu-title {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

#sidebar .sidebar-menu .sidebar-menu-item .sidebar-menu-componente{
  width: 30px;
  height: calc(100% - 100px);
  text-align: center;
  line-height: 30px;
  display: inline-block;
  color: black;
  font-weight: bold;
  background-color: white;
}

#sidebar .sidebar-menu .sidebar-menu-item img{
  width: 30px;
  height: 30px;
  vertical-align: middle;
  text-align: center;
  line-height: 30px;
  display: inline-block;
}

#sidebar .sidebar-menu .sidebar-menu-item span{
  font-weight: bold;
  font-size: 14px;
  padding: 0 10px;
}

#sidebar .sidebar-playlist{
  padding: 20px 0;
  border-top: 1px solid rgb(51, 50, 50);
}

#sidebar .sidebar-playlist{
  margin: 2rem 0;
  display: block;
  color: rgb(190, 190, 190);
  text-decoration: none;
}

#sidebar .sidebar-playlist a:hover{
  color: white;
}
#sidebar .sidebar-menu span:hover{
  color: white;
}

/* MAIN */
/* recomendações */
#main{
  width: calc(100% - 250px);
  background-color: rgb(30, 30, 30);
  height: 100%;
  float: left;
  padding: 15px 50px;
  overflow-x: hidden;
  overflow-y: scroll;
  
}

#main .main-wraper{
  padding-bottom: 200px;
}

#main .main-wraper .main-row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

#main .main-row-title{
  width: 100%;
}

#main .main-row-title h2{
  color: white;
}

#main .main-col{
  cursor: pointer;
  width: 12rem;
  margin-right: 1%;
  margin-top: 20px;
  background-color: #282828;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  height: 300px;
  z-index: 0;
  align-items: flex-start;
  text-align: start;
}
#main .music-title{
  color: white;
  box-sizing: border-box;
  font-family: Helvetica,Arial,sans-serif;
  -webkit-tap-highlight-color: transparent;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  padding-block-end: 4px;
}

#main .music-subtitle{
  box-sizing: border-box;
  font-family: Helvetica,Arial,sans-serif;
  -webkit-tap-highlight-color: transparent;
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 500;
  color:#8b8080;
  display: inline;
  flex-basis: 100%;
  height: 0;
  width: 0;
  flex-grow: 3;
}
#main .main-wraper .main-row .main-col:hover{
  background-color: rgba(94, 93, 93, 0.61);
  cursor: pointer;
}

#main .main-wraper .main-row .main-col img{
  width: 175px;
  height: auto;
  vertical-align: middle;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  border-radius: 5px;
}

#main .main-wraper .main-row .main-col h3{
  padding-top: 10px;
  padding-bottom: 10px;
}

#player{
  width: 100%;
  padding: 1rem;
  height: 7rem;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  background-color: rgb(27, 27, 27);
  border-top: 1px solid rgb(66, 65, 65);
}

#player .player-artist{
  width: 20%;
}

#player .player-artist img{
  max-width: 4rem;
  display: inline-block;
  vertical-align: middle;
}

#player .player-artist h3{
  display: inline-block;
  color: white;
  font-weight: normal;
  font-size: 1.2rem;
  vertical-align: text-top;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}

#player .player-artist h4{
  display: inline-block;
  color: white;
  font-weight: normal;
  font-size: 0.7rem;
  vertical-align: bottom;
  margin-left: -5rem;
  position: left;
}

#player .player-artist h3>span{
  color: rgb(200, 200, 200);
  font-size: 1.3rem;
}

#player .player-controll{
  width: 70%;
  text-align: center;
}

#player .player-controll .player-controll-buttons a{
  color: white;
  margin: 0.8rem 1.2rem;
  font-size: 1.5rem;
}

#player .player-controll-progress{
  width: 100%;
  max-width: 60rem;
  height: 7px;
  margin-top: 1.5rem;
  position: relative;
  border-radius: 0.8px;
  display: inline-block;
  background: rgb(130, 130, 130);
}

#player .player-controll-progress-2{
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 7px;
  border-radius: 8px;
  background: white;
}

@media screen and (max-width: 1700px){
  .main-col{
    width: 20%;
  }
}

/*            Create Account            */
#formulario{
  height: 100%;
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
  margin: 0%;
}

#formulario .formulario-wraper .formulario-logo img{
  height: 40px;
  width: auto;
  float: center;
}
.formulario-logo {
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.sign-up{
  align-items: center;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  display: block;
  font-size: 28px;
  letter-spacing: -0.25px;
  line-height: 36px;
  color: inherit;
  font-weight: 700;
}
.form-signup h6{
  font-family: Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  padding: 0.4rem 0.2rem 0.4rem 0;
}
.form-signup {

  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 900;
  display: block;
}

.login-username:hover {
  box-shadow: inset 0 0 0 1px #000000;
}

.login-username {
  align-items: center;
  appearance: none;
  background-image: none;
  border: 0px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  width: 28rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  border-radius: 4px;
  padding: 14px;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px #878787;
  color: #000000;
  margin-bottom: 0.3rem;
}
.birth{
  color: #000000;
  cursor: default;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  font-size: 0.875rem;
  line-height: 1.25rem;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  padding-bottom: 8px;
  margin-right: 14rem;
}

.input-day, .input-month, .input-year{
  border: 0px;
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  width: 3rem;
  height: 2rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  margin-top: 0px;
  margin-bottom: 1rem;
  border-radius: 4px;
  padding: 14px;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px #878787;
  text-align: start;
  position: relative;

}
.input-day, .input-month, .input-year{
  position: relative;
  box-sizing: content-box;
  z-index: 2;
}
.input-year{
  width: 4rem;
}
.label-day, .label-month,.label-year{
  width: 100%;
  top:0; bottom: 0; left: 0; right: 0;
  transition: 0.5s;
  color: #6a6a6a;
  font-weight: 400;
}
.input-day:focus + .label-day, .input-month:focus + .label-month{
  margin-top: 0px;
  top: -50%;
  z-index: 2;
  transition: 0.2s;
}
.input-month{
  width: 8rem;
  height: 2rem;
  cursor: pointer;
  color: #6a6a6a;
}
.day-of-birth, .month-of-birth, .year-of-birth{
  display: inline-block;
  position:relative;
}
.input-day, .input-month, .input-year {
  margin-right: 0.5rem;
  padding-top: 1rem;
  text-align: justify;
}

.appear{
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: none;
  letter-spacing: normal;
  font-family:  Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #6a6a6a;
  padding-right: 16rem;
}
.traces{
  color: #6a6a6a;
}
#day, #month, #year{
  display: inline-block;
}

select:invalid {
  color: gray; 
}
.birthday-month{
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: normal;
  font-family:  Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #6a6a6a;
  width: 12rem;
  height: 3rem;

}
option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  align-items: flex-start;
  text-align: start;
  color: #000000;
}
.arrow{
  background-image:url("https://cdn-icons.flaticon.com/png/512/2985/premium/2985150.png?token=exp=1649505930~hmac=87e722f0e15dec691c39d43151a3cab0") ;
  color: #878787;
  pointer-events: none;
  position: absolute;
  right: 14px;
  stroke-width: 0.8pt;
}

.form-user-information h6{
  font-family: Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  padding: 0.4rem 0.2rem 0.8rem 0.2rem;
  align-items: center;
  text-align: center;
  margin-right: 8rem;
}
.form-user-information{
  font-family:Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: block;
  align-items: center;
  text-align: center;
  margin-right: 11rem;
}

.final-information {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.4rem 0.2rem 0.8rem 0.2rem;
  padding-left:18rem;
  align-items: center;
  text-align:justify;
  margin-left: 12rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
}
.footer{
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.25px;
  color: inherit;
  text-align: center;
}
.footer-privacy a:hover{
  color: rgb(30, 215, 96);
  cursor: pointer;
}
.footer-privacy{
  color: rgb(29, 185, 84);
  text-decoration: underline;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  align-items: center;
}
#footer-signup{
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}
.footer-signup-container{
  align-items: center;
  padding: 2rem;
  margin-bottom: 2rem;
}
.btn-sign-up{
  padding: 1rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}
.form-information:hover{
  box-shadow: inset 0 0 0 1px #000000;
}
/*Video*/
.video{
  margin-left: -5rem;
}
.video-music{
  display: inline-flex;
  align-items: center;
  width: 60rem;
  height: 35rem;
  text-align: center;
  margin-left: 8rem;
  margin-top: 0.5rem;
}
 #main .video-header{
  display: flex;
  width: 8rem;
  height: 2rem;
  margin-right: 50rem;
  margin-left: 2.5rem;
  margin-top: 1rem;
  cursor:pointer;
}
.arrow-left, .arrow-right {
  display: inline;
  margin-right: 2rem;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
  color: rgb(190, 190, 190);
  position: relative;

}

.arrow-left:hover, .arrow-right:hover {
  color: #1db954;
  transition: all 0.4s ease;
}

.youtube-video{
  display: inline-block;
  width: 55rem;
  height: 30rem;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  margin-left: 5rem;
}
.icon, .icon-comments{
  font-size: 2rem;
  display: inline;
  align-items: flex-start;
  text-align: start;
  color: whitesmoke;
  margin-left: 2rem;
  cursor: pointer;
}
.icon-youtube{
  margin: 3rem;
}

.icon{
  color: #1db954;
}

.video-header{
  background-color: transparent;
}
.arrow-left:hover::after{
  content: 'Voltar';
  position: absolute;
  top: -15px;
  color: white;
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  left: 0;
}
.arrow-right:hover::after{
  content: 'Próximo';
  position: absolute;
  top: -15px;
  color: white;
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  right: 0;
}
#playBtn:hover{
  color: #117a37;
}
#player-menu {
  display: flex;
  color: white;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;

}

#player-menu .player-menu-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  margin-left: 20rem;
}

#player-menu .player-menu-container ul {
  display: flex;
  list-style: none;
  font-weight: bold;
  float: right;
}

#player-menu .player-menu-container ul li {
  padding: 0 20px;
  transition: all 300ms ease;
}

#player-menu .player-menu-container ul li:hover {
  color: #1db954;
  cursor: pointer;
}

#player-menu .player-menu-container ul li:nth-child(3) {
  border-right: 1px solid white;
}
#player-menu .profile-photo-player img{
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-left: 45rem;
}
.propaganda{
  align-items: center;
  text-align: center;
  margin-left: 5rem;
}
.lyrics{
  width: 50rem;
  height: 45rem;
  margin-top: 2rem;
  margin-left: 8rem;
}