* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
html, body{height: 100%;}
:root {
  --default-green: #1db954;
  --light-green: #1ed760;
}
-- all the documents * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}

/* Utility Classes */
.btn-primary {
  background: var(--default-green);
  color: white;
  text-transform: uppercase;
  padding: 15px 60px;
  border: none;
  border-radius: 30px;
  letter-spacing: 1px;
  font-weight: bold;
  transition: all 300ms ease;
}

.btn-primary:hover {
  background: var(--light-green);
  cursor: pointer;
}

.logo {
  height: 40px;
  width: auto;
}

/*            HOME            */
/* menu */
#menu {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

#menu .menu-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

#menu .menu-container ul {
  display: flex;
  list-style: none;
  font-weight: bold;
}

#menu .menu-container ul li {
  padding: 0 20px;
  transition: all 300ms ease;
}

#menu .menu-container ul li:hover {
  color: #1db954;
  cursor: pointer;
}

#menu .menu-container ul li:nth-child(3) {
  border-right: 1px solid white;
}

/* content */
#content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: url('/img/showcase.webp') center center/cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: color;
}

#content .content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content .content-container h2 {
  font-size: 5rem;
}

#content .content-container p {
  margin: 15px 0;
  font-size: 1.1rem;
}

/* Footer */
#footer {
  background: black;
  color: white;
  padding: 80px 0;
}

#footer .footer-content {
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: space-between;
}

#footer .footer-content .footer-menu {
  margin: 0 60px;
  list-style: none;
}

#footer .footer-content .footer-menu .footer-menu-item {
  margin: 25px 0;
  transition: all 300ms ease;
}

#footer .footer-content .footer-menu .footer-menu-item:hover {
  color: var(--default-green);
  cursor: pointer;
}

#footer .footer-content .footer-menu p {
  font-weight: bold;
  text-transform: uppercase;
  color: #919496;
  font-size: 0.8rem;
}
.page-content{
  padding-left: 5rem;
}


/* Footer Socials */
.socials {
  display: flex;
}

.socials i {
  margin: 0 20px;
  font-size: 1.7rem;
  transition: all 300ms ease;
}

.socials i:hover {
  color: var(--default-green);
  cursor: pointer;
}

/* Footer Info */
.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 60%;
  margin: auto;
  font-weight: bold;
  color: #919496;
  font-size: 0.75rem;
  padding-top: 50px;
}

.footer-info .footer-info-items {
  display: flex;
  list-style: none;
}

.footer-info .footer-info-items .footer-info-item {
  margin: 0 10px;
  transition: all 300ms ease;
}

.footer-info .footer-info-items .footer-info-item:hover {
  color: var(--default-green);
  cursor: pointer;
}

.footer-info .rights .country {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.footer-info .rights .country p {
  transition: all 300ms ease;
}

.footer-info .rights .country p:hover {
  color: var(--default-green);
  cursor: pointer;
}

.footer-info .rights .country .brazil-flag {
  height: 20px;
  width: auto;
  display: inline-block;
  margin-left: 10px;
}


/*            ACCOUNT           */

.page-content {
  padding-top: 8%;
  width: 100%;
  display: flex;
}

.menu-lateral {
  width: 18rem;
  height: 80rem;
  background-color: black;
  padding-top: 1%;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  display: block;
  position: relative;
  padding: 15px 15px 15px 30px;
  border: none;
  border-radius: 0px;
  letter-spacing: 0px;
  text-transform: none;
  fill: white;

}

.profile-photo img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;

}
.menu-itens {
  text-decoration: none;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  padding: 15px 15px 15px 30px;
  border: none;
  border-radius: 0px;
  letter-spacing: 0px;
  text-transform: none;
  fill: white;
}

#overview, #profile, #device_password, #notifications, #privacy, #recover_playlists, #receipts, #apps, #redeem{
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(240, 17, 17, 0.05);
  margin: 0px;
  padding: 0px;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  text-align:start;
  align-items: flex-start;
}

#overview a{
text-decoration: none;
  display: block;
  position: relative;
  padding: 15px 15px 15px 30px;
  border: none;
  border-radius: 0px;
  letter-spacing: 0px;
  text-transform: none;
  fill: white;
  color: #ffffff;
}
#overview a:hover{
  color: rgb(145, 148, 150);
}

#profile a:hover, #device_password a:hover, #notifications a:hover, #privacy a:hover, #recover_playlists a:hover, #receipts a:hover, #apps a:hover, #redeem a:hover{
  border-bottom: 1px solid #1db954;
  color: whitesmoke;
  letter-spacing: 0.0025rem;
}

#profile a, #device_password a, #notifications a, #privacy a, #recover_playlists a, #receipts a, #apps a, #redeem a{
  text-decoration: none;
  display: block;
  position: relative;
  fill: rgb(193, 195, 198);
  padding: 15px 15px 15px 30px;
  color: rgb(145, 148, 150);
  border: none;
  border-radius: 0px;
  letter-spacing: 0px;
  text-transform: none;
}
.account-settings {
  width: 65rem;
  height: 80rem;
  background-color: #fff;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  display: block;
  padding: 0px 0px 0.67rem 2rem;
}

h1,
h5 {
  box-sizing: border-box;
  font-family: Helvetica,Arial,sans-serif;
  -webkit-tap-highlight-color: transparent;
  display: block;
  padding: 0px 0px 0.67em;
  font-weight: 900;
  letter-spacing: -1px;
  line-height: 40px;
  color: inherit;
}
.account-settings h1 {
  padding-top: 2rem;
  font-size: 3.5rem;
}
.account-settings h5 {
  font-size: 1.5rem;
}

th,
td {
  color: #b3b3b3;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-right: 10em;
  white-space: nowrap;
  display: table-cell;
  vertical-align: inherit;
  border-bottom: 1px solid #b3b3b3;;
}

.user-information {
  color: black;
  font-weight: 520;
  text-align: left;
  padding-left: 18rem;
  align-items: flex-start;
}
table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}

.button-edit {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  background-color: transparent;
  border-radius: 500px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  touch-action: manipulation;
  transition-duration: 33ms;
  transition-property: background-color, border-color, color, box-shadow, filter,
    transform;
  user-select: none;
  vertical-align: middle;
  transform: translated(0px, 0px, 0px);
  padding-block: 13px;
  padding-inline: 31px;
  position: relative;
  border: 1px solid #878787;
  color: #000000;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button-edit:hover, .button-premium:hover{
  letter-spacing: 0.025rem;
  background-color: #000000;
  color: white;
}
.free-plan{
  width: 60rem;
  height: 15rem;
}

.free-plan h1 {
  padding: 0px 0px 0.6rem 2rem;
  width: 60rem;
  height: 10rem;
  display: flex;
  align-items: center;
  border: none;
  color: white;
  background: linear-gradient(
    -180deg,
    rgb(182, 43, 190) 0%,
    rgb(150, 34, 185) 100%
  );
}
.free-plan span, .free {
  padding-top: 1rem;
  padding-left: 2rem;
  width: 60rem;
  height: 3rem;
  display: flex;
  background-color: white;
}
.button-premium {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  background-color: transparent;
  border-radius: 500px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  touch-action: manipulation;
  padding-block: 13px;
  padding-inline: 31px;
  border: 1px solid #878787;
  color: #000000;
}
.exit-device {
  margin-top: 3rem;
  padding-top: 1rem;
  display: inline-block;
}
.exit-device span{
  box-sizing: border-box;
  font-family: Helvetica,Arial,sans-serif;
  -webkit-tap-highlight-color: transparent;
  display: block;
  padding: 0.1rem 1rem 0.5rem 0.1rem;
  margin-block: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: inherit;
}
.message-observation{
  background: #f8f8f8;
  border: 1px solid rgb(217, 218, 220);
  border-radius: 4px;
  padding: 14px;
  margin-right: 4rem;
}

/*            LOGIN           */
.logo-preto {
  border-bottom: 1px solid rgb(217, 218, 220);
}

.logo-preto img {
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  width: 15%;
  height: 15%;
  stroke: transparent;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#showcase-login {
  align-items: center;
  text-align: center;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 1rem;
  margin-bottom: 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 900;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#showcase-login p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.btn-facebook:hover,
.btn-apple:hover,
.btn-google:hover,
.btn-telefone:hover,
.btn-login:hover,
.btn-signup:hover {
  border-color: black;
  font-size: 0.9rem;
}

.btn-facebook.btn-facebook,
.btn-apple.btn-apple,
.btn-google.btn-google,
.btn-signup.btn-signup {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.style-facebook {
  color: rgb(248, 248, 248);
  background-color: rgb(59, 89, 152);
}
.btn-facebook,
.btn-apple,
.btn-google,
.btn-telefone,
.btn-signup {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 500px;
  display: inline-block;
  text-align: center;
  touch-action: manipulation;
  transition-duration: 33ms;
  user-select: none;
  vertical-align: middle;
  transform: translated(0px, 0px, 0px);
  padding: 13px 31px;
  position: relative;
  border: 1px solid #878787;
  letter-spacing: 0.1rem;
  width: 28rem;
  text-transform: uppercase;
}
button {
  appearance: auto;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: (black, white);
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  box-sizing: border-box;
  background-color: (rgb(239, 239, 239), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: (rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
.btn-facebook::after,
.btn-apple::after,
.btn-google::after,
.btn-telefone::after {
  display: block;
  position: absolute;
  pointer-events: none;
  transition: border-color 200ms ease-in 0s;
  box-sizing: border-box;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  top: -6px;
  left: -6px;
  background: transparent;
  border-radius: 500px;
  border: 3px solid transparent;
}
.style-apple {
  color: rgb(248, 248, 248);
  background-color: rgba(0, 0, 0, 0.9);
}
.btn-google,
.btn-telefone {
  color: #464545;
  background-color: transparent;
}

.login h6 {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  padding: 0.4rem 0.2rem 0.4rem 0;
}
.email-address {
  margin-right: 10rem;
}
.password {
  margin-right: 24rem;
}
.login {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 900;
  display: block;
}

.login-username:hover {
  box-shadow: inset 0 0 0 1px #000000;
}

.login-username {
  align-items: center;
  appearance: none;
  background-image: none;
  border: 0px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  width: 28rem;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  border-radius: 4px;
  padding: 14px;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px #878787;
  color: #000000;
  margin-bottom: 0.3rem;
}

input[type='text' i] {
  padding: 1px 2px;
}
input {
  color: (black, white);
  text-shadow: none;
  display: inline-block;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: (rgb(255, 255, 255), rgb(59, 59, 59));
  margin: 0em;
  padding: 0.1rem 0.2rem;
  border-width: 0.2rem;
  border-color: (rgb(118, 118, 118), rgb(133, 133, 133));
}

.btn-signup {
  margin-left: auto;
  margin-right: auto;
}

#reset-password {
  font-family: Helvetica, Arial, sans-serif;
  color: inherit;
  align-items: left;
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  margin-top: 1.25rem;
  margin-left: auto;
  text-align: left;
}
#reset-password:hover{
  letter-spacing: 0.0125rem;
  text-decoration: underline;
}

.forgot-password {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 16rem;
}
#reset-password{
  text-decoration: none;
} 
#checkbox {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-top: 1rem;
}

input:checked{
  background-color: #1db954;
}

#footer-login {
  align-items: center;
  text-align: center;
}

.log-in{
  padding-left: 16rem;
}
.log-in h6{
  box-sizing: border-box;
  display: inline;
  font-family:  Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  margin-top: 0px;
  margin-bottom: 0rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: inherit;

}

.btn-login {
  background-color: #1ed760;
  color: #000000;
  border-radius: 500px;
  width: 12rem;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  letter-spacing: 0.15rem;
  padding: 0.8rem 0.5rem 0.8rem 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  margin-left: 8rem;
}
.border{
  margin-left: 30.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-top: 1px solid rgb(217, 218, 220);
  width: 32rem;
  height: 0rem;
  align-items: center;
  text-align: center;
}
.footer-login-container{
  padding-top: 1rem ;
}
.btn-signup{
  margin-top: 1.5rem;
  margin-bottom: 1rem; 
  border: 1px solid #878787;
  background-color: transparent;
  color: #878787;
}

.borders{
  flex: 0.3 1 0%;
  align-self: center;
  text-align: center;
  line-height: 1px;
  font-weight: 700;
  font-size: 12px;
  background: rgb(255, 255, 255);
  text-transform: uppercase;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  margin: 5rem;
  margin-bottom: 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: inherit;
}


/*            PLAYER            */
/* Menu lateral - Botoes iniciais */
#sidebar{
  float: left;
  width: 250px;
  padding: 10px 10px;
  height: 100%;
  overflow-y: auto;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden, scroll;
}

#sidebar .sidebar-wraper{
  padding-bottom: 200px;
}

#sidebar .sidebar-menu{
  margin: 20px 0;
  color: rgb(190,190,190)
}

#sidebar .sidebar-logo img{
  max-width: 250px;
  width: 100%;
}

#sidebar .sidebar-menu a{
  color: rgb(190, 190, 190);
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

#sidebar .sidebar-menu svg{
  margin: 0 20px;
}

#sidebar .sidebar-menu a:hover{
  color: white;
}

/* #sidebar .sidebar-menu a.sidebar-menu-selecionado{
  color: white;
  background-color: rgb(80, 80, 80);
  border-radius: 100px;
} */

/* Menu lateral - Playlist */
#sidebar .sidebar-menu .sidebar-menu-item{
  margin-top: 12px;
  cursor: pointer;
  vertical-align: middle;
}

#sidebar .sidebar-menu p.sidebar-menu-title {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

#sidebar .sidebar-menu .sidebar-menu-item .sidebar-menu-componente{
  width: 30px;
  height: calc(100% - 100px);
  text-align: center;
  line-height: 30px;
  display: inline-block;
  color: black;
  font-weight: bold;
  background-color: white;
}

#sidebar .sidebar-menu .sidebar-menu-item img{
  width: 30px;
  height: 30px;
  vertical-align: middle;
  text-align: center;
  line-height: 30px;
  display: inline-block;
}

#sidebar .sidebar-menu .sidebar-menu-item span{
  font-weight: bold;
  font-size: 14px;
  padding: 0 10px;
}

#sidebar .sidebar-playlist{
  padding: 20px 0;
  border-top: 1px solid rgb(40, 40, 40);
}

#sidebar .sidebar-playlist{
  margin: 10px 0;
  display: block;
  color: rgb(190, 190, 190);
  text-decoration: none;
}

#sidebar .sidebar-playlist a:hover{
  color: white;
}
#sidebar .sidebar-menu span:hover{
  color: white;
}

/* MAIN */
/* recomendações */
#main{
  width: calc(100% - 250px);
  height: calc(100% - 100);
  background-color: rgb(30, 30, 30);
  height: 100%;
  float: left;
  padding: 15px 50px;
  overflow-x: hidden;
  overflow-y: scroll;
  
}

#main .main-wraper{
  padding-bottom: 200px;
}

#main .main-wraper .main-row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

#main .main-row-title{
  width: 100%;
}

#main .main-row-title h2{
  color: white;
}

#main  .main-col{
  cursor: pointer;
  width: 15%;
  margin-right: 1%;
  margin-top: 20px;
  background-color: #282828;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  height: 300px;
}

#main .main-wraper .main-row .main-col:hover{
  background-color: rgba(255,255,255,.3);
  cursor: pointer;
}

#main .main-wraper .main-row .main-col img{
  width: 175px;
  height: auto;
  vertical-align: middle;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  border-radius: 5px;
}

#main .main-wraper .main-row .main-col h3{
  padding-top: 10px;
  padding-bottom: 10px;
}

#player{
  width: 100%;
  height: 100px;
  float: left;
  background-color: #282828;
  position: fixed; bottom: 0%;
}


/*            Create Account            */
#formulario{
  height: 100%;
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
  margin: 0%;
}

#formulario .formulario-wraper .formulario-logo img{
  height: 40px;
  width: auto;
  float: center;
}